@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
}
ul,li{
    list-style: none;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}
:root{
    --text-color--:#818181; 
    --footer-first--:#232323;
    --footer-second--:#323232;
    --btn-color--:#3D8B74;
    --black--:#000000;
    ---border-color--:#CCCCCC;
}
.container{
    width: 100%;
    position: relative;
}
.header{
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
}
.header-logo__text{
    font-size: 45px;
    letter-spacing: 1.1px;
    padding-left: 195px;
    font-weight: 400;
    color:var(--footer--);
}
.header-nav{
    margin-right: 120px;
}
.header-nav-menu{
    display: flex;
}
.header-nav-menu__item{
    margin-right: 100px;
    color: var(--text-color--);
}
.main{
    margin-left: 200px;
    margin-right: 590px;
    margin-top: 70px;
}
.main-title{
    font-size: 45px;
    font-weight: 700;
    color:var(--black--);
}
.main-title__text{
    font-size: 18px;
    line-height: 23px;
    color: var(--text-color--);
}
.main-img{
    height: 350px;
    width: 350px;
    float: left;
    margin: 40px 50px 20px 0;
}
.main-text-block{
    margin-bottom: 100px;
}
.main-text{
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 1.5px;
    margin-top: 36px;
}
.form{
    height: 550px;
    width: 1210px;
    margin-top: 50px;
    background-color: #F9F9F9;
    border: 1px dashed var(---border-color--);
}
form-title{
    font-size: 25px;
}
.form-info{
    margin-top: 110px;
    margin-left: 315px;
}
.form-input{
    height: 50px;
    width: 220px;
    margin-top: 20px;
    margin-right: 20px;
}
.input--email{
    height: 50px;
    width: 315px;
}
.form-textarea{
    width: 560px;
    height: 150px;
    margin-top: 20px;
}
.button{
    display: block;
}
.form-button{
    background-color:var(--btn-color--);
    width: 190px;
    height: 50px;
    color: white;
    margin-top: 20px;
}
.footer{
    width: 100%;
    margin-top: 50px;
}
.contacts{
    width: 100%;
    background-color: var(--footer-first--);
    height: 300px;
}

.contacts__img{
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 30px;
}
.img-block{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contacts__title{
    text-align: center;
    margin-top: 30px;
    color: white;
    /* text-transform: uppercase; */
    font-weight: 400;
}
.contacts-menu{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.contacts-menu__item{
    margin-right: 30px;
}
.footer-name{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--footer-second--);
}
.footer-name__text{
    color: white;
}
.aside-categories{
    height: 320px;
    width: 280px;
    border: 1px solid var(---border-color--);
    position: absolute;
    top: 150px;
    right: 250px;
}
.categories-menu__item{
    line-height: 40px;
    color:var(--black--);

}
.aside-categories__title{
    margin-bottom: 20px;
}
.aside-categories-block{
    margin-top: 30px;
    margin-left: 40px;
}
.categories-menu__item:hover{
    color: var(--btn-color--);
    font-weight: 800;
}
.aside-instagram{
    position: absolute;
    top: 570px;
    right: 240px;
}
.aside-instagram__title{
    width: 270px;
}
.aside-instagram_img{
    width: 290px;
    height: 290px;
    margin-top: 30px;
}
.aside-instagram_img img{
    width: 130px;
    height: 130px;
    margin-right: 10px;
    margin-top: 10px;
}